
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    padding:0;
    margin:0;
}
header{
    background-color: #181818;
    padding: 24px 0;

}
.container{
    max-width:1200px;
    margin:auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header nav ul{
    display:flex;
    list-style: none;
}
header nav ul li:first-of-type {
    margin-right: 24px;
}
header nav  li a{
    font: 15px/20px 'Poppins';
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li {
    margin-left: 32px;
}

header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    font: 16px/20px 'Poppins';
    letter-spacing: 0.4px;
    color: #000000;
    padding: 11px 20px;
}
section {
    box-sizing: border-box;
}

.padding{
    text-align: center;
    max-width: 600px;
}
.background{
    background-image: url("../images/background.jpg");
    background-size: cover;
    height:100vh;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    display: flex;
}
 section p:first-of-type{
     font: 14px/20px 'Poppins';
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #C0C0C0;
 }
 section h2{
     font:54px/59px 'Poppins';
     color: #FFFFFF;
     margin-bottom: 18px;
 }
 section p:last-of-type{
     font: 14px/20px 'Poppins';
     color: #C0C0C0;
 }
 .fixed_information{
     display: flex;
     list-style: none;
     position: absolute;
     bottom: 41px;
     right: 40px;
 }
 .fixed_information li{
     font: 12px/12px 'Poppins';
     color: #FFFFFF;
     margin-left: 16px;
 }
 .fixed_information li:before{
   content:"";
     display: inline-block;
     background-image: url("../images/clock.svg");
     width: 16px;
     height: 16px;
     margin-right: 6px;
     position: relative;
     top: 6px;
 }
.fixed_information li:nth-child(2):before{
    background-image: url("../images/objective.svg");
}
.fixed_information li:nth-child(3):before{
    background-image: url("../images/iso.svg");
    width: 32px;
}
.fixed_information li:last-of-type:before{
    background-image: url("../images/fill.svg");
    width: 10px;
}
.past_client{
    background: black;
}
.text_past{
    padding-top: 120px;
    padding-bottom: 100px;
    max-width: 1200px;
    margin: auto;

}
.text_past article{
    text-align: center;
    margin-bottom: 42px;
}
.text_past article h3{
    font: 40px/42px 'Poppins';
    color: #FFFFFF;
    margin-bottom: 15px;
}
.text_past article p{
    font: 24px/30px 'Poppins';
    color: #C0C0C0;
}
.logo_comp{
    max-width: 1168px;
    padding: 69px 0;
}
.logo_comp .item{
    max-width: 128px;
    margin: auto;
}
.owl-stage{
    align-items: center;
    display: flex;
}
.aside{
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 108px;
}
.b-ground{
    background-color: black;
}
.aside h4{
    font: 40px/42px 'Poppins';
    color: #FFFFFF;
    margin-bottom: 15px;
}
.aside p{
    font: 24px/30px 'Poppins';
    color: #C0C0C0;
    margin-bottom: 22px;
}

.aside a{
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    font: 16px/20px 'Poppins';
    letter-spacing: 0.4px;
    color: #000000;
    padding: 9px 10px 13px 42px;
    position: relative;
}
.aside a:before{
    content:"";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    top:5px;
    right: 118px;
    bottom: 5px;
    left: 4px;
    margin-right: 6px;

}
.portfolio{
    background-image: url("../images/mountain.jpg");
    min-height: 600px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.portfolio .sub_container{
    max-width: 298px;
    margin-right: 62px;
}
.portfolio .sub_container h3{
    font: 14px/20px 'Poppins';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.portfolio .sub_container p{
    font: 14px/20px 'Poppins';
    color: #C0C0C0;

}
.owl-dots{
    text-align: center;

}

.owl-dots .owl-dot span:before{
    font-family: "Font Awesome 6 Free",sans-serif;
    font-weight: 400;
    content: "\f111";
    font-size: 15px;
    color: #FFFFFF;
    margin-right: 20px;
}
 .owl-dots .owl-dot.active span:before{
    background-color: crimson;
     border-radius: 50%;
}

.overlay-navigation {
    position: relative;
}

.open-overlay {
    position: absolute;
    right: 5rem;
    z-index: 100;
    width: 34px;
    cursor: pointer;
    display: none;
}

.open-overlay span {
    display: block;
    height: 1px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 8px;
}


